@import 'assets/css/animazioni.scss';
@import 'assets/css/padding.scss';
@import 'assets/css/margin.scss';


.page{
    min-height: 100vh;
    padding: 8px;
    background-image: radial-gradient(#abbcff, #912dd2);
    background-repeat: no-repeat;
    background-size: cover;
}

.forms{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .card{
    border-radius: 0.50rem;
     box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
 }

 .card-table{
     background-color: aliceblue;
    border-radius: 0.50rem;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
 
 }

.form-control {
    border-radius: 0.60rem;
} 

.form-select {
    border-radius: 0.60rem;
} 

.bg-transparent {
    background-color: initial!important;
}

.cursore{
    cursor: pointer;
}

 